

html {
    height: 100%;
}

body {
    height: 100%;

}

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}
.loginbtn {
    opacity: .9;
}



.form-lognin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-login .form-signin-heading,
.form-login .checkbox {
    margin-bottom: 10px;
}
.form-login .checkbox {
    font-weight: normal;
}
.form-login .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.loginholder {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.form-control {
    opacity: 0.7;
}

.cover-heading, .masthead-brand {
    font-family: 'Shadows Into Light Two', cursive;
}

.cover-heading{
    font-size: 400%;

}

.checkboxsubmitholder .checkbox, .checkboxsubmitholder .btn {
    width: 50%;
    display: inline;
}

.cover {
background-image: url('img/romantic-dinner-wallpaper-44727-45860-hd-wallpapers.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
}

/*
 * CSS Animations
 * Don't forget to add vendor prefixes!
 */
.m-scene .scene_element {
    -webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.m-scene .scene_element--fadein {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.m-scene.is-exiting .scene_element {
    -webkit-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse;
}

/*
 * Keyframes
 */
@-webkit-keyframes fadeIn {
    0% { opacity: 0; filter: alpha(opacity=0); }
    100% { opacity: 1; filter: alpha(opacity=100); }
}
@keyframes fadeIn {
    0% { opacity: 0; filter: alpha(opacity=0); }
    100% { opacity: 1; filter: alpha(opacity=100); }
}






/* testing */

#databasesucces {
    margin-left: 220px;
    position: fixed;
    z-index: 100;
}

#saveeatdatebtn {
    margin-top: 8px;
    margin-right: 10%;
    margin-left: 10px;
}

.table>tbody>tr>th {
    vertical-align: bottom;
    border-top-color: transparent;
}



td {
}

.table-striped {

}

.table-responsive {

    display:block;
}

.navbar-right {
    width: 200px;}

.table-striped > tbody > tr:nth-child(odd) {
    background-color: white;
}

.table-striped > tbody > tr:nth-child(even) {
    background-color: #eee;
}



.names {
    z-index: 10;
    margin-right: 100px;
    font-weight: 600;
    background-color: inherit;
    position:absolute;
    margin-left: 40px;
    left:0;
    height: 50px;
    width: 80px;

    max-width: 80px;
    max-height: 40px;
    overflow-y: scroll;
    border-right: thin solid #bbb;

}


.fadeup {
    -ms-transform:translateY(-100px);
    -webkit-transform:translateY(-100px);
    transform:translateY(-100px);
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;

}


.fadeupBig {

    -ms-transform:translateY(-100%);
    -webkit-transform:translateY(-100%);
    transform:translateY(-100%);
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;

}

.hiddenclass {
    visibility: hidden;
}

.alertholder{
    z-index: 1000;}

.alert {
    position: fixed;
    width: 20%;
    height: inherit;
    margin-left: 40%;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    background: #fff;

    background-size: cover;
}

.m-scene {
background: #fff;

}
/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    font-family: 'Shadows Into Light Two', cursive;
    text-align: left;

}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

.navbar-brand {
    font-family: 'Shadows Into Light Two', cursive;
}

.navbar {
    position: relative;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

body {

}

.site-wrapper-inner {
    height: 100%; /* For at least Firefox */

}

.info {
}




/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;

}


table.table.table-striped {
    background: #fff;
    margin-bottom: 150px;
}


@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}

.maintable {
    margin-top: 30px;
    display: inline;

}



/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
}


.cover-container {
    height: 700px;
}


/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}
